<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:pattern {"slug":"tenlune/hero"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"본문"},"anchor":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group">
	<!-- wp:pattern {"slug":"tenlune/makes"} /-->
	<!-- wp:pattern {"slug":"tenlune/process"} /-->
	<!-- wp:pattern {"slug":"tenlune/work-item"} /-->
	<!-- wp:pattern {"slug":"tenlune/principles"} /-->
	<!-- wp:pattern {"slug":"tenlune/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
