<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"본문"},"anchor":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group">

	<!-- wp:group {"className":"tl-pagehead","layout":{"type":"constrained"}} -->
	<div class="wp-block-group tl-pagehead">
		<!-- wp:post-title {"level":1,"className":"tl-h2-lg"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"tl-post-body","layout":{"type":"constrained"}} -->
	<div class="wp-block-group tl-post-body">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
